@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    letter-spacing: 0.018em;
    font-weight: 400;
  }
  .font-title {
    letter-spacing: 0.025em;
    font-weight: 500;
  }
  .font-mono {
    letter-spacing: 0.080em;
    /* font-weight: 600; */
  }
  .underline-links a {
    @apply border-b-2 no-underline opacity-100 font-medium;
  }
  .underline-links-lg a {
    @apply border-b-2 no-underline opacity-100 font-medium;
  }
  .underline-links-lg a {
    @apply no-underline !important;
  }
  .underline-links a {
    @apply border-b-2 no-underline opacity-100 font-medium !important;
  }
  a.button {
    @apply bg-blue-600 no-underline border-none rounded-md px-5 py-4 text-lg font-semibold text-white shadow-md hover:shadow-xl hover:bg-blue-500 !important;
  }
  a {
    @apply whitespace-nowrap;
  }

  .background-animate {
    background-size: 400%;
    -webkit-animation: GradientAnimation 3s ease infinite;
    -moz-animation: GradientAnimation 3s ease infinite;
    animation: GradientAnimation 3s ease infinite;
  }

  @keyframes GradientAnimation {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}